@use '../globalVariables.scss' as *;

.card-about {
  margin: 10px;
}

.uk-icon-button {
  margin-top: 10px;
  align-self: center;
  border-radius: 10px;
  width: 49px;
  height: 49px;
  background-color: $blue;

  svg {
    width: 30px;
    fill: $white;
  }
  &:hover {
    background-color: rgb(47.5680628272, 121.2460732984, 245);
  }
}

.logo-rss {
  height: 50px;
}
