@import '../globalVariables.scss';
@import '../fonts/fonts';

fieldset {
  margin: 0;
  padding: 0;
  border: 0;

  .legend {
    margin-bottom: 16px;
    padding-top: 16px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.01em;
  }
}

.registration {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 0 auto;
  padding: 75px 60px 27px;
  background: $white;
  border-radius: 10px;
  font-family: $font-family, sans-serif;

  * {
    font-family: inherit;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__heading {
    text-align: center;
    font-weight: 500;
    font-size: 28px;
    line-height: 129%;
    color: #333232;
  }

  &__input {
    width: 346px;
    height: 40px;
    border-radius: 8px;
    color: $dark-color;

    &:nth-last-child(2) {
      margin-bottom: 32px;
    }

    &::placeholder {
      color: $grey;
    }
  }

  &__error {
    color: transparent;
    transition: 0.3s;

    &_active {
      color: $global-danger-background;
    }

    &-wrapper {
      height: 24px;
      padding: 0 2px 3px;
    }
  }

  .button {
    border-radius: 8px;
    border: none;
    color: $white;
  }

  .link {
    margin: 12px auto 0;
    font-size: 16px;
  }
}

body:has(.main-page-wrapper):has(.registration) {
  min-height: 100vh;
  height: auto;
}

.main-page-wrapper:has(.registration) {
  min-height: 100%;
  padding-bottom: 40px;
}
