@use '../globalVariables.scss' as *;

.login-page-wrapper {
  background-color: $dark-white;
}

.uk-input {
  white-space: pre;
  width: 100vw;
  border: 1px solid $light-grey;
  background-color: $white;
  &:focus {
    background-color: $white;
    border-color: $light-grey;
  }
}

.uk-input.uk-form-danger {
  border: 1px solid $red;
  &:focus {
    border-color: $red;
  }
}
.uk-card input,
.uk-card div,
.uk-card a:nth-child(2n) {
  margin-top: 0.5rem;
}

.uk-link {
  color: $blue;
}

.uk-form-icon {
  top: 9px;
}

@media (min-width: 350px) and (max-width: 1199px) {
  .uk-padding-large {
    padding: 70px;
  }
}
