@use '../globalVariables.scss' as *;

.dialog {
  width: 900px;
}

.wrapper-all-text {
  flex-basis: fit-content;
}

.default-price.line-through {
  text-decoration: line-through;
}

@media (max-width: 700px) and (min-width: 350px) {
  .child-product-page {
    flex-direction: column-reverse;
    align-items: center;
  }
  .wrapper-pagination {
    width: 100%;
  }
}
