@use '../globalVariables.scss' as *;

.card-product {
  padding: 20px;
  margin: 5px;
}

.product-img {
  height: 70px;
}

.wrapper-products {
  flex-grow: 2;
  margin-right: 7px;
}

.wrapper-totals {
  flex-grow: 1;
}

.coupon-input {
  margin: 5px 0 0 5px;
}

.conteiner-empty {
  height: 80vh;
  justify-content: center;
}

.uk-grid + .uk-grid {
  margin-top: 10px;
}

.uk-badge {
  right: 14px;
  bottom: 6px;
  border: 1px solid $white;
}

.cart-badge.non-active {
  opacity: 0;
}

.promo-code {
  &-wrapper {
    min-height: 40px;
    padding: 5px;
  }

  &_applied {
    padding: 12px;
    font-size: 14px;

    &:hover {
      cursor: pointer;
    }
  }
}

.quality-product {
  cursor: pointer;
  &:hover {
    color: $blue;
  }
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

.product {
  &__price-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__full-price {
    opacity: 0;
    transition: 0.3s;

    &_visible {
      opacity: 1;
      text-decoration: line-through;
    }
  }

  &__current-price {
    transition: 0.3s;

    &_promo {
      color: #ff0000;
      font-weight: 600;
    }
  }
}

.total-price {
  &_promo
    {
      color: #ff0000;
      font-weight: 600;
    }

  &_full {
    padding: 0;
  }

  &_visible {
    padding-left: 10px;
    text-decoration: line-through;
  }
}

@media (max-width: 700px) and (min-width: 350px) {
  .cart-page {
    flex-direction: column-reverse;
  }
  .wrapper-totals {
    margin-bottom: 15px;
  }
}
