@import './loginPage/loginVariables.scss';
@import '../../../node_modules/uikit/src/scss/variables.scss';
@import '../../../node_modules/uikit/src/scss/mixins.scss';
@import '../../../node_modules/uikit/src/scss/uikit.scss';
@import './loginPage/login.scss';
@import './header/header.scss';
@import './mainPage/main.scss';
@import './utils/helpers';
@import './registrationPage/registrationPage';
@import './catalogePage/catalogPage';
@import './catalogePage/categories';

@import './productPage/product.scss';
@import './userProfilePage/userProfile';

* {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.strikethrough {
  text-decoration-line: line-through;
}
