@use '../globalVariables.scss' as *;

.main-page-wrapper {
  background-color: $dark-white;
  .nav-breadcrumb {
    margin: 1em 0 1em 0;
    font-size: 0.8em;

    color: rgba(105, 105, 105, 0.94);
    background-color: white;
    ul {
      margin: 0;
      background-color: white;
    }
    a {
      color: rgba(105, 105, 105, 0.94);
    }
  }
}
